# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
.next/
out/
build/

# Prisma
packages/database/node_modules/
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# IDE / OS
.idea/
.vscode/
.DS_Store
*.log
*.tsbuildinfo

# Debug
npm-debug.log*
.pnpm-debug.log*
